<header>
    Byod Portal
    <nav>
        <a [routerLink]="['/employees']">Employees</a>
        <a [routerLink]="['/devices']">Devices</a>
    </nav>
</header>
<div id="wrapper">
    <section>
        <div class="content">
            <div>
                <router-outlet></router-outlet>
            </div>
            <div>
                &copy; 2018, Trivadis AG
            </div>
        </div>
        <div class="image">
            <img src="https://m.trivadis.com/hubfs/TVD_Training/Landingpages/Angular/Angular-Training.jpg" />
        </div>
    </section>
</div>