<div>
    <form [formGroup]="form">
        <label>
            <h4>Firstname</h4>
            <input type="text" formControlName="firstname" class="form-input">

            <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="alert alert-danger">
                <div *ngIf="firstname.errors?.required">
                    Firstname is required.
                </div>
            </div>
        </label>
        <label>
            <h4>Lastname</h4>
            <input type="text" formControlName="lastname" class="form-input">
            <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="alert alert-danger">
                <div *ngIf="lastname.errors?.required">
                    Lastname is required.
                </div>
            </div>
        </label>
        <label>
            <h4>Email</h4>
            <input type="text" formControlName="email" class="form-input">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                <div *ngIf="email.errors?.required">
                    E-Mail is required.
                </div>
                <div *ngIf="email.errors?.invalidemail">
                    E-Mail is invalid.
                </div>
            </div>
        </label>
        <label>
            <h4>Confirm Email</h4>
            <input type="text" formControlName="emailConfirm" class="form-input">
            <div *ngIf="emailConfirm.invalid && (emailConfirm.dirty || emailConfirm.touched)" class="alert alert-danger">
                <div *ngIf="emailConfirm.errors?.required">
                    E-Mail is required.
                </div>
                <div *ngIf="!emailConfirm.errors?.required && !email.errors?.invalidemail &&
                form.errors?.nomatch">
                    E-Mails must match
                </div>
                <div *ngIf="email.errors?.invalidemail">
                    E-Mail is invalid.
                </div>
            </div>
        </label>
        <div class="form-actions">
            <button type="button" class="btn btn-ok" *ngIf="!isEdit" (click)="createEmployee()">
                Create
            </button>
            <button type="button" class="btn btn-ok" *ngIf="isEdit" (click)="updateEmployee()">
                Save
            </button>
            <button type="button" class="btn btn-warning" *ngIf="isEdit" (click)="removeEmployee()">
                Delete
            </button>
        </div>
    </form>
</div>