body {
  // padding: 10px 25px;
}

a,
a:hover,
a:focus {
  color: #c92c21;
}

#pageBanner {
  background-image: url('https://m.trivadis.com/hubfs/TVD_Training/Landingpages/Angular/Angular-Training.jpg');
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -165px;
  padding: 15px 30px;
}
#pageBanner h1 {
  font-size: 38px;
  color: #fff;
  font-weight: 700;
  line-height: 74px !important;
  margin-bottom: 0;
  text-shadow: 0 0 40px rgba(0, 0, 0, 0.75);
}
header {
  nav {
    margin: 5px 0;
  }
  nav {
    a {
      font-size: 1em;
      // background-color: #cdcdcd;
      padding: 5px;
      margin-right: 10px;
    }
    .active {
      color: black;
    }
  }
}
main {
  padding: 10px 0;
}
footer {
  font-size: 0.85em;
  padding-bottom: 2rem;
  padding-top: 1em;
}
.panel-primary > .panel-heading {
  background-color: #c92c21;
  border-color: #c92c21;
}

// .panel-primary {
//   border-color: #c92c21;
// }

// .form-control:focus {
//   border-color: #c92c21;
// }
.btn-primary {
  color: #fff;
  background-color: #c92c21;
  border-color: #c92c21;
}
.btn-primary:hover {
  color: #fff;
  background-color: #8c0000;
  border-color: #8c0000;
  transition: all 300ms linear;
}

// html, body {
//   font-size: 12pt;
//   margin: 0;
//   padding: 0;
// }

// body {
//   background-color: #ffffff;
//   color: #000000;
// }

// body, input, select, textarea {
//   font-family: Helvetica, sans-serif;
//   // font-size: 1rem;
//   font-weight: 300;
//   // line-height: 1.65;
// }

//   @media screen and (max-width: 1680px) {

//     html {
//       font-size: 13pt;
//     }

//   }

//   @media screen and (max-width: 1280px) {

//     html {
//       font-size: 12pt;
//     }

//   }

//   @media screen and (max-width: 736px) {

//     html {
//       font-size: 11pt;
//     }

//   }

//   @media screen and (max-width: 360px) {

//     html {
//       font-size: 10pt;
//     }

//   }

// a {
//   -moz-transition: color 0.2s ease-in-out;
//   -webkit-transition: color 0.2s ease-in-out;
//   -ms-transition: color 0.2s ease-in-out;
//   transition: color 0.2s ease-in-out;
//   text-decoration: underline;
// }

//   a:hover {
//     text-decoration: none;
//   }

// strong, b {
//   font-weight: 400;
// }

// em, i {
//   font-style: italic;
// }

// p {
//   margin: 0 0 2rem 0;
// }

// h1, h2, h3, h4, h5, h6 {
//   font-weight: 300;
//   line-height: 1.375;
//   letter-spacing: -0.05em;
//   margin: 0 0 1rem 0;
// }

//   h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
//     color: inherit;
//     text-decoration: none;
//   }

// h1 {
//   font-size: 2.5rem;
//   line-height: 1.2;
// }

// h2 {
//   font-size: 1.5rem;
// }

// h3 {
//   font-size: 1.25rem;
// }

// h4 {
//   font-size: 1.1rem;
// }

// h5 {
//   font-size: 0.9rem;
// }

// h6 {
//   font-size: 0.7rem;
// }

// header {
//   position: fixed;
//   left: 0;
//   top: 0;
//   width: 100%;
//   background: rgba(55, 61, 73, 0.975);
//   color: #fff;
//   box-shadow: none;
//   height: 4.75em;
//   transition: top 0.25s ease-in-out;
//   font-size: 0.9em;
//   z-index: 10000;
//   cursor: default;
//   padding: 0.5em;
// }
// header {
//   h1 {
//     font-size: 2em;
//     margin: 0;
//     padding: 0;
//   }
//   nav {
//     margin-top: 10px;
//   }
//   a {
//     color: white;
//   }
// }
// #wrapper {
//   background-color: inherit;
//   width: 100%;
//   overflow-x: hidden;
// }

// section {
//   top: 100px;
//   height: 100%;
//   -moz-align-items: stretch;
//   -webkit-align-items: stretch;
//   -ms-align-items: stretch;
//   align-items: stretch;
//   display: -moz-flex;
//   display: -webkit-flex;
//   display: -ms-flex;
//   display: flex;
//   -moz-flex-direction: row;
//   -webkit-flex-direction: row;
//   -ms-flex-direction: row;
//   flex-direction: row;
//   -moz-justify-content: -moz-flex-end;
//   -webkit-justify-content: -webkit-flex-end;
//   -ms-justify-content: -ms-flex-end;
//   justify-content: flex-end;
//   position: relative;
//   text-align: left;
//   overflow-x: hidden;
// }

// @media screen and (max-width: 1680px) {
//   .content {
//     padding: 5rem 5rem 3rem 5rem;
//   }
// }

// @media screen and (max-width: 1280px) {
//   .content {
//     padding: 4rem 4rem 2rem 4rem;
//   }
// }

// @media screen and (max-width: 980px) {
//   .content {
//     padding: 3.75rem 3rem 1.75rem 3rem;
//   }
// }

// @media screen and (max-width: 736px) {
//   .content {
//     padding: 2.5rem 2rem 0.5rem 2rem;
//   }
// }

// .content {
//   padding: 7rem 7rem 5rem 1rem;
//   -moz-align-self: center;
//   -webkit-align-self: center;
//   -ms-align-self: center;
//   align-self: center;
//   -moz-flex-grow: 1;
//   -webkit-flex-grow: 1;
//   -ms-flex-grow: 1;
//   flex-grow: 1;
//   -moz-flex-shrink: 1;
//   -webkit-flex-shrink: 1;
//   -ms-flex-shrink: 1;
//   flex-shrink: 1;
//   width: 50%;
//   max-width: 48rem;
//   margin: 0 auto;

//   -moz-transition: opacity 0.75s ease-in-out, -moz-transform 0.75s ease-in-out;
//   -webkit-transition: opacity 0.75s ease-in-out, -webkit-transform 0.75s ease-in-out;
//   -ms-transition: opacity 0.75s ease-in-out, -ms-transform 0.75s ease-in-out;
//   transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
// }

// .image {
//   -moz-flex-grow: 0;
//   -webkit-flex-grow: 0;
//   -ms-flex-grow: 0;
//   flex-grow: 0;
//   -moz-flex-shrink: 0;
//   -webkit-flex-shrink: 0;
//   -ms-flex-shrink: 0;
//   flex-shrink: 0;
//   border-radius: 0;
//   width: 50%;
// }
// .image img {
//   -moz-object-fit: cover;
//   -webkit-object-fit: cover;
//   -ms-object-fit: cover;
//   object-fit: cover;
//   -moz-object-position: center;
//   -webkit-object-position: center;
//   -ms-object-position: center;
//   object-position: center;
//   display: block;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   border-radius: 0;
// }
// .image {
//   background-color: rgba(0, 0, 0, 0.125);
//   border: 0;
//   border-radius: 4px;
//   display: inline-block;
//   position: relative;
// }

// .selected {
//   background-color: #aaaaaa !important;
// }
